* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background: white;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
}
nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: black ;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #cccccc;
}

.logo-link {
    margin-right: 20px;
}

.logo-icon {
    display: inline-block;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}


.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px;
}

.product-item {
    flex-basis: calc(33.33% - 10px); /* Adjust the flex-basis to 33.33% minus the margin */
    margin-bottom: 40px; /* Increase the bottom margin for spacing */
    margin-right: 10px; /* Add margin-right for spacing */
}

.product-item .product-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;

}

.product-item .product-image img:hover {
    transform: scale(1.2);
}

h1, h2, p {
    color: #333;
}

.add-to-cart, .favorite {
    display: inline-block;
    background: #000000 ;
    color: #fff;
    padding: 8px 30px;
    margin: 5px 0;
    border-radius: 5px;
    transition: background 0.5s;
}

.add-to-cart:hover, .favorite:hover {
    background: #555555 ;
}

.product-details {
    text-align: center;
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    display: inline-block;
    background-color: #f2f2f2;
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 5px;
    border-radius: 4px;
}

.page-link:hover {
    background-color: #ddd;
}

.page-link.active {
    background-color: #333;
    color: #fff;
}

footer {
    height: auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
    color: #f6f5f7;
}

.footer-content {
    background: black;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 0;
}


.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2rem;
}

.footer-content p {
    color: #555555;
    max-width: 500px;
    margin: -15px auto;
    line-height: 25px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #f6f5f7;
}

.socials a i {
    font-size: 1.3rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #C8B796 ;
}

.footer-bottom {
    background: black;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    color: #555555;
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}
