* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background: white;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
}
nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: black ;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #cccccc;
}

.logo-link {
    margin-right: 20px;
}

.logo-icon {
    display: inline-block;
}



a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.col-2 img {
    max-width: 100%;
    padding: 25px 0;
    margin-top: -90px; /* Adjust the value as needed */
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #C8B796;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.header .row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.small .container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3 {
    flex-basis: calc(33.33% - 20px);
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}
.category {
    position: relative;
}

.category img {
    display: block;
}
.category h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, -150%);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 60px; /* Adjust the font size as needed */
    font-weight: bold;
    color: #fff; /* Set the default text color to white */
    text-transform: uppercase; /* Optional: Converts the text to uppercase */
    letter-spacing: 2px; /* Optional: Adds spacing between letters */
    font-family: "Montserrat", sans-serif; /* Optional: Specify a different font family */
}

.category.women h3 {
    color: #000; /* Set the text color of women to black */
    right: -15px; /* Adjust the value as needed to move the text a little to the right */
}

.category.men h3 {
    color: #fff; /* Set the text color of men to white */
    right: -15px; /* Adjust the value as needed to move the text a little to the right */
}

.category.best-selling h3 {
    color: #fff; /* Set the text color of best-selling to white */
    right: -15px; /* Adjust the value as needed to move the text a little to the right */
}


h2 {
    text-align: center;
    margin-bottom: 90px;
}

.col-4 {
    flex-basis: calc(33.33% - 20px);
    min-width: 250px;
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.col-4 h4 {
    margin: 10px 0;
}

.col-4 p {
    margin: 0;
}

.col-4:hover {
    transform: scale(1.1);
}

.title{
    text-align: center;
    margin: 0 auto 80px;
}
footer {
    height: auto;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
    color: #f6f5f7;
}

.footer-content {
    background: black ;
    opacity: 90% ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    margin-top: 10px;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 25px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #f6f5f7;
}

.socials a i {
    font-size: 1.3rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #C8B796 ;
}

.footer-bottom {
    background: black;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}
