<!DOCTYPE html>
<!--TODO: update css and pic path after the interface is done-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Orders</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/order-list.css}">
</head>
<body>
<div class="navbar">
  <div class="logo">
    <a href="/"><img th:src="@{/Xiel.png}" width="270px"></a>
  </div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/products/all">All Products</a></li>
      <li><a href="/products/men">Men</a></li>
      <li><a href="/products/women">Women</a></li>
    </ul>
  </nav>
  <a href="/cart/display" class="logo-link">
    <img th:src="@{/LogoCart.png}" width="30px" height="30px" class="logo-icon">
  </a>
  <a href="/" class="logo-link">
    <img th:src="@{/LogoUser.png}" width="30px" height="30px" class="logo-icon">
  </a>
</div>

<h1 style="text-align: center">My Orders</h1>

<div th:if="${has_item} == 'true'" th:each="d, iterStat: ${data}">
  <h2 style="text-align: left; padding-left: 50px;">Order <span th:text="${iterStat.index + 1}"></span></h2>
  <section>
    <div th:each="product : ${d.itemList}" class="cart" style="margin-top: 0px; margin-bottom: 0px;">
      <div class="cart-item">
        <img th:src="@{${'/' + product.getProduct().getImage()}}" th:alt="${product.getProduct().getProductname()}">
        <div class="cart-item-details">
          <div class="flex-item">
            <h3 th:text="${product.getProduct().getProductname()}"></h3>
            <p class="price">RM<span th:text="${product.getProduct().getPrice()}"></span></p>
          </div>

          <div class="flex-item">
            <div class="quantity">
              <p style="font-weight: bold;">Quantity: <span th:text="${product.quantity}"></span></p>
            </div>
          </div>

          <div class="flex-item">
            <div class="sub-total">
              <p>Total: <span th:text="${product.getProduct().getPrice() * product.quantity}"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-footer" style="background-color: #f5f5f5; margin: 0px 20px;padding-right: 170px;">
      <p class="total">Total Price: <span class="total-price" th:text="${d.order.totalprice}"></span></p>
    </div>

    <div class="shipping-details" style="margin-top: 0px; padding-left: 60px; padding-bottom: 20px;">
      <div class="user-details">
        <div class="user-item">
          <h4>Username</h4>
          <p th:text="${d.order.getCustomer().getName()}"></p>
        </div>
        <div class="user-item">
          <h4>Email</h4>
          <p th:text="${d.order.getCustomer().getEmail()}"></p>
        </div>
        <div class="user-item">
          <h4>Phone no.</h4>
          <p th:text="${d.order.getPhonenum()}"></p>
        </div>
        <div class="user-item">
          <h4>Payment method</h4>
          <div th:switch="${d.order.getPaymentmethod()}">
            <p th:case="'credit'">Credit Card</p>
            <p th:case="'debit'">Debit Card</p>
            <p th:case="'paypal'">Paypal</p>
            <p th:case="'touchngo'">Touch 'n Go</p>
          </div>
        </div>

        <!--      this is used for padding purpose-->
        <div></div>
      </div>
      <h3>
        Shipping to:
      </h3>
      <p th:text="${d.order.getAddress()}"></p>
    </div>
  </section>
</div>

<section th:if="${has_item} == 'false'" style="padding: 0px; display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 80vh;">
  <div style="width: 100%; display: flex; flex-direction: column; align-items: center; gap: 20px;">
    <h2>No Order Found!</h2>
    <form style="display: grid;" action="#" th:action="@{/}" method="GET">
      <button class="checkout-btn" style="margin: auto; font-size: 16px;">
        Continue Shopping
      </button>
    </form>
  </div>

  <footer style="padding: 0px;">
    <div class="footer-content">
      <h3>XieL Clothing</h3>
      <p> With a focus on quality craftsmanship and trendy designs, Xiel Clothing Store brings together a curated collection of apparel that caters to diverse fashion
        preferences. Explore their extensive selection and elevate your wardrobe with their premium offerings.</p>
      <ul class="socials">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 Xiel Clothing Store. All rights reserved.</p>
    </div>
  </footer>
</section>


<footer th:if="${has_item} == 'true'">
  <div class="footer-content">
    <h3>XieL Clothing</h3>
    <p> With a focus on quality craftsmanship and trendy designs, Xiel Clothing Store brings together a curated collection of apparel that caters to diverse fashion
      preferences. Explore their extensive selection and elevate your wardrobe with their premium offerings.</p>
    <ul class="socials">
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Xiel Clothing Store. All rights reserved.</p>
  </div>
</footer>
</body>
</html>
