<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>
<body>
<div class="navbar">
    <div class="logo">
        <a href="/"><img th:src="@{/Xiel.png}" width="270px"></a>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products/all">All Products</a></li>
            <li><a href="/products/men">Men</a></li>
            <li><a href="/products/women">Women</a></li>
        </ul>
    </nav>
    <a href="/" class="logo-link">
        <img th:src="@{/LogoUser.png}" width="30px" height="30px" class="logo-icon">
    </a>
</div>

<h1 style="text-align: center;">SHOPPING CART</h1>

<section th:if="${has_item} == 'true'">
        <div class="cart">
            <form
                    action="#"
                    th:object="${cartForm}"
                    th:each="product, iterStat: ${cartForm.cartList}"
                    th:action="@{/cart/update (order_id=${product.order.orderId}, product_id=${product.product.productId}, index=${iterStat.index})}"
                    th:method="POST"
                    class="cart-item"
            >
                <img th:src="@{${'/' + product.getProduct().getImage()}}" alt="Product 1">
                <div class="cart-item-details">
                    <h3 th:text="${product.getProduct().getProductname()}"></h3>
                    <p class="price">RM<span th:text="${product.getProduct().getPrice()}"></span></p>

                    <div style="width: 250px; display: flex; flex-direction: column; align-items: center; gap: 10px;">
                        <div class="quantity">
                            <input type="hidden" th:field="*{cartList[__${iterStat.index}__].order}" />
                            <input type="hidden" th:field="*{cartList[__${iterStat.index}__].product}" />

                            <div class="quantity-btn decrease"><span>-</span></div>
                            <input
                                    type="number"
                                    th:field="*{cartList[__${iterStat.index}__].quantity}"
                                    class="quantity-input"
                            >
                            <div class="quantity-btn increase"><span>+</span></div>
                        </div>
                        <div style="display: flex; justify-content: center; gap: 10px;">
                            <div class="remove-btn">
                                <a
                                        th:href="@{/cart/delete (order_id=${product.order.orderId}, product_id=${product.product.productId})}"
                                        style="color: #fff; text-decoration: none;"
                                >
                                    Remove
                                </a>
                            </div>
                            <button
                                    class="remove-btn"
                                    type="submit"
                            >
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="cart-footer">
            <p class="total">Total Price: <span class="total-price">RM<span th:text="${totalPrice}"></span></span></p>
        </div>
        <div class="cart-footer">
            <button
                    class="checkout-btn"
                    style="margin-right: 10px;"
            >
                <a style="text-decoration: none; color: #fff;" th:href="@{/products/all}">Continue Shopping</a>
            </button>
            <button
                    class="checkout-btn"
            >
                <a style="text-decoration: none; color: #fff;" th:href="@{/checkout/edit (order_id=${order_id})}">Checkout</a>
            </button>
        </div>

</section>
<section th:if="${has_item} == 'false'" style="padding: 0px; display: flex; flex-direction: column; justify-content: space-between; width: 100%; height: 80vh;">
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center; gap: 20px;">
        <h2>No Product Found!</h2>
        <button
                class="checkout-btn"
                style="margin-right: 10px;"
        >
            <a style="text-decoration: none; color: #fff;" th:href="@{/products/all}">Continue Shopping</a>
        </button>
    </div>

    <footer style="padding: 0px;">
        <div class="footer-content">
            <h3>XieL Clothing</h3>
            <p> With a focus on quality craftsmanship and trendy designs, Xiel Clothing Store brings together a curated collection of apparel that caters to diverse fashion
                preferences. Explore their extensive selection and elevate your wardrobe with their premium offerings.</p>
            <ul class="socials">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Xiel Clothing Store. All rights reserved.</p>
        </div>
    </footer>
</section>
<footer th:if="${has_item} == 'true'">
    <div class="footer-content">
        <h3>XieL Clothing</h3>
        <p> With a focus on quality craftsmanship and trendy designs, Xiel Clothing Store brings together a curated collection of apparel that caters to diverse fashion
            preferences. Explore their extensive selection and elevate your wardrobe with their premium offerings.</p>
        <ul class="socials">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Xiel Clothing Store. All rights reserved.</p>
    </div>
</footer>
<script>
    const decreaseButtons = document.querySelectorAll('.quantity-btn.decrease');
    const increaseButtons = document.querySelectorAll('.quantity-btn.increase');

    decreaseButtons.forEach(button => {
        button.addEventListener('click', () => {
            const input = button.nextElementSibling;
            const value = parseInt(input.value);
            if (value > 1) {
                input.value = value - 1;
            }
        });
    });

    increaseButtons.forEach(button => {
        button.addEventListener('click', () => {
            const input = button.previousElementSibling;
            const value = parseInt(input.value);
            input.value = value + 1;
        });
    });
</script>
</body>
</html>
